<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OMIT</title>
  <link rel="stylesheet" href='static/css/styles.css'>
  <script src="https://unpkg.com/htmx.org@2.0.2"></script>
</head>

<body>
  <div class="bg"></div>
  <div class="main-container">
    <h1 id="form-title">OMIT Image Recognition</h1>

    <form 
      id="upload-form" 
      hx-encoding="multipart/form-data" 
      hx-post="/upload" 
      hx-target="#result"
    >
      <input 
        id="image-input" 
        type="file" 
        name="file" 
        onchange="previewImage(event)">
      
      <div id="preview-container"></div>
      
      <div class="upload-container">
        <div id="upload-options">
          <button type="submit">Detect Mess</button>
          <a id="result"></a>
        </div>
  
        <div id="upload-options">
          <button type="submit">Detect Weather</button>
        </div>
  
        <div id="upload-options">
          <button type="submit">Detect Monkey</button>
        </div>
      </div>

    </form>

  </div>

  <script src='static/js/portal.js'></script>

</body>
</html>