body {
    display: flex;
    color: #333;
    justify-content: center;
    font-family: Arial, sans-serif;
    padding-top: 2rem;
}

.main-container {
    width: 100%;
    padding-top: 5rem;
    padding: 2rem;
    max-width:43rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(195, 204, 207, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    width: 90%;
    padding: 2rem;
    border-radius: 1rem;
    flex-direction: column;
    background-color: #eee8e8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.upload-container {
    gap: 0.8rem;
    display: grid;
    grid-template-columns: repeat(5, auto);
}

#form-title {
    font-size: 2rem;
}

#image-preview {
    margin-top: 1rem;
    margin-bottom: 1rem;
    filter: blur(15px);  /* present the image blurred by default, for safety */
}

input[type='file'] {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

input[type='file']::file-selector-button {
    border: none;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #383838;
}

input[type='file']::file-selector-button:hover {
    background-color: #202020;
}

button {
    border: none;
    padding: 0.7rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    width: fit-content;
    border-radius: 0.3rem;
    align-items: center;
    background-color: #4CAF50;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#tag-display {
    gap: 1rem;
    display: flex;
    overflow: auto;
    text-wrap: wrap;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bg {
    top: -10%;
    left: -40%;
    z-index: -1;
    width: 170%;
    height: 170%;
    position: fixed;
    filter: blur(12px);
    background-size: cover;
    background-position: center;
    background-image: url('../res/inspect.webp');
}